.table {
    display: grid;
    grid-template-columns: repeat(4, 4fr); 
    gap: 7px; 
    margin: 20px 20px 20px 20px;
    background-color: #f3f9fd; 
    padding: 15px;
    border-radius: 7px;
    text-align: center;
    
}

.table__header {
    font-weight: bold;
    font-size: 14px;
    text-align: center; 
    padding: 10px;
    background-color: #34495e; 
    color: white; 
    border-radius: 3px;
}

.table__row:nth-child(odd) {
    font-size: 16px; 
    text-align: center;
    padding: 10px;
    background-color: #ecf0f1;
    background-color: #D1E3ED;
    border-radius: 3px;
}

@media (max-width: 850px) {
    .table {
        grid-template-columns: 4fr; 
    }
}

@media (max-width: 570px) {
    .albums {
        display: none;
    }
}
.comments-section {
    margin: 20px auto;
    padding: 10px;
    max-width: 800px;
    border: 1px solid #ccc;
    border-radius: 8px;
    background-color: #f9f9f9;
}

.comments-container .comment {
    margin-bottom: 15px;
    padding: 10px;
    border-bottom: 1px solid #ddd;
}

.comments-container .comment h4 {
    margin: 0;
    font-size: 1.1em;
}

.comments-container .comment p {
    margin: 5px 0;
    line-height: 1.4;
}

.error {
    color: red;
    font-weight: bold;
    text-align: center;
}

.preloader {
    display: none; /* скрыт по умолчанию */
    text-align: center;
    margin: 10px 0;
}
.preloader img {
    width: 50px;
    height: 50px;
}
