.page {
    font-family: 'Avantgarde, TeX Gyre Adventor, URW Gothic L', sans-serif;
    background-color: #D1E3ED;
    margin: 0;
    padding: 0;
    line-height: 1.6;
    color: #333;
}

.header__title, .main__title {
    color: #2c3e50;
    letter-spacing: 1px; 
    margin-top: 20px;
    margin-bottom: 15px;
}

.main__title {
    margin-top: 20px;
    text-align: center;
}

.footer__title {
    text-align: left;
    margin-bottom: 10px;
    color: #C4DBEA;
}

.header__text {
    font-size: 25px;
    font-weight: bold;
    color: #2c3e50;
    text-align: center;
    margin: 10px 0;
}

.header__logo {
    display: block;
    margin: 20px auto;
    max-width: 100%;
    height: auto;
    border-radius: 20px; 
    box-shadow: 0 4px 8px rgba(10, 0, 10, 0.2);
}

a {
    color: #2980b9;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.main__description, .main__content, .footer__list-item {
    font-size: 18px;
    margin: 15px 0;
}

ul, ol {
    margin: 15px 0;
    padding-left: 20px;
}

ol p, ul p {
    margin: 5px 0;
    font-size: 16px;
}

li {
    list-style: none;
    font-size: 18px;
    margin-bottom: 10px;
}

.main-list {
    list-style-type: disc; 
    padding-left: 20px; 
}

.main-list-item p {
    display: list-item; 
    list-style-position: inside; 
    margin-left: 0;
}

.header__logo img {
    display: block;
    margin: 20px auto;
    max-width: 100%;
    height: auto;
}

.main {
    padding: 20px;
    max-width: 80%;
    margin: 0 auto;
    border-radius: 8px;
}

.main__image {
    display: block;
    margin: 20px auto;
    max-width: 100%;
    height: auto;
    border-radius: 10px;
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.2); 
}

.nav__list {
    padding: 0;
    margin: 10px 0;
}

.nav__list-item {
    background-color: #ecf0f1; 
    padding: 10px;
    margin: 10px 0;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); 
    border-radius: 5px;
}

.nav__link {
    color: #2c3e50;
    font-weight: bold;
}

.nav__link:hover {
    color: #2c3e50;
}

.aside {
    background-color: #ecf0f1;
    padding: 15px;
    margin-top: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

.footer {
    background-color: #34495e;
    color: white;
    padding: 20px;
    text-align: center;
    box-shadow: 0 -4px 6px rgba(0, 0, 0, 0.1);
}

.footer__link {
    color: #f39c12;
    font-style: italic;
}

.footer__link:hover {
    color: #e67e22;
}

.footer__list-item {
    color: #ecf0f1;
    font-size: 16px;
}

.footer__list-item strong {
    color: #C4DBEA;
}

strong {
    color: #2c3e50;
}

em {
    font-family: 'Avantgarde, TeX Gyre Adventor, URW Gothic L', sans-serif;
    color: #7666EB;
}

ins {
    text-decoration: underline;
    color: #C4DBEA;
}

.article {
    margin-bottom: 20px;
}

